<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project site</title>
</head>
<body>
    <header>
        <h1>{{ pageTitle }}</h1>
        <p>Project page text</p>
    </header>

    <footer>
        <p>Copyright {{getCurrentYear}}</p>
    </footer>
    </body>
</html>